{% extends "base.html" %}
{% block content %}
<link href="../static/css/site.css" rel="stylesheet">
<div class="col-lg-6 col-lg-offset-3">
       <!--  <center>
            <img src="../static/logo/title.png"><br><br><br><br>
        </center> -->
       <h1 class="h1 text-center">BugSearch</h1><br><br>
</div>
<div class="row">
    <form class="bs-example bs-example-form form-midel" role="form" action="/search" method="post">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="input-group">
                    <input type="text" class="form-control input-lg offset-4" name="WooyunBug" placeholder="输入搜索关键词……">
                    <span class="input-group-btn">
                        <button class="btn btn-primary btn-lg" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->
       </form>
</div>

{% endblock %}
